       <div class="list">
          <label class="item item-input">
            <span class="input-label">E-mail</span>
            <input type="email" ng-model="email">
          </label>
          <label class="item item-input">
            <span class="input-label">Contraseña</span>
            <input type="password" ng-model="password" ng-minlenght="3">
          </label>
          <div class="padding">
            <button  ui-sref="app" ng-disabled="!email || !password" class="button button-block button-positive">Sign In</button>
          </div>
        </div>